# Ignore node_modules in both client and server
client/node_modules/
server/node_modules/

# Ignore environment files
client/.env
server/.env

# Ignore build files (if applicable)
client/build/
server/dist/

# Ignore uploads folder (if you don't want to upload uploaded files)
server/uploads/

# Ignore log files
*.log


TimeStamp.txt